@model IEnumerable<MvcDemoRedirect.visita>

@{
    ViewBag.Title = "Details";
    int rowindex = 0;
}
<style type="text/css">
    table, tr th, tr td{
        border: solid 1px;
    }
</style>
<h2>Details</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            Index
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ipaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.skey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.device)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    rowindex++;
    <tr>
        <td>
            @rowindex
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ipaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.skey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.device)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
